<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Hello World React</title>

  <meta name="description" content="Seed for Webpack X React app">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="mask-icon" href="<%= require('./assets/images/favicon.svg') %>" color="<%= htmlWebpackPlugin.options.theme_color %>">

</head>

<body>

  <div id="root"><%= require('./assets/js/prerender').prerender() %></div>

</body>

</html>